
html {
    background-color: rgb(202, 216, 255);
    text-align: center;
}


button {
    color:rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 15px;
    background-color:rgb(252, 255, 96);
}


